{% extends 'base.html' %}
{% block title %}Ebook Details{% endblock title %}

{% block content %}

{% load static %}
    <link href="{% static 'styles.css' %}" rel="stylesheet">
<div class="card-container">
    <div class="card-header">
        <h1>{{ ebook.title }}</h1>
        <p class="card-text"><strong>Author:</strong> {{ ebook.author }}</p>
    </div>
    <div class="card-body">
        
        
        {% if ebook.cover %}
            <img src="{{ ebook.cover.url }}" alt="Cover Image">
        {% endif %}
        <p class="card-text">{{ ebook.description }}</p>
        {% if user.is_authenticated and not user.is_staff %}
        <a href="{{ ebook.file.url }}" class="btn btn-primary">Read</a>
        {% else %}
        <a href="{% url 'update_book' ebook.pk %}" class="btn btn-primary">Update Book</a>
        <a href="{% url 'delete_book' ebook.pk %}" class="btn btn-primary">Delete Book</a>
        {% endif %}
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to list</a>
    </div>
</div>

{%endblock content%}